html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Hacen Tunisia", Arial, Tahoma;
}

.dashboard-div{
    margin-top: 20px
}

/*.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.l-bg-cherry {*/
    /*background: linear-gradient(to right, #493240, #a74780) !important;*/
    /*color: #fff;
    background: #c2db4f;
}

.l-bg-blue-dark {*/
    /*background: linear-gradient(to right, #373b44, #4286f4) !important;*/
    /*color: #fff;
    background: #222d32
}

.l-bg-green-dark {*/
    /*background: linear-gradient(to right, #0a504a, #38ef7d) !important;*/
    /*color: #fff;
    background: #0a504a
}

.l-bg-orange-dark {*/
    /*background: linear-gradient(to right, #a86008, #ffba56) !important;*/
    /*color: #fff;
    background: #a86008
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 50px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    left: 25px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}*/

.card_item {
    text-align: right;
    position: relative;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px #eee;
    overflow: hidden;
}

    .card_item::after,
    .card_item .icon {
        position: absolute;
        left: 16px;
        top: 16px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
    }

    .card_item .icon {
        z-index: 9;
    }

    .card_item::after {
        content: '';
        left: 0;
        top: 0;
        border-radius: 0;
        height: 100%;
    }

    .card_item:hover::after {
        width: 100%;
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }

    .card_item.new:hover::after,
    .card_item.new .icon {
        background-color: #004085;
    }

    .card_item.new h3 {
        color: #004085;
    }

    .card_item.processing h3 {
        color: #dda703;
    }

    .card_item.accept h3 {
        color: #155724;
    }

    .card_item.reject h3 {
        color: #721c24;
    }

    .card_item.processing:hover::after,
    .card_item.processing .icon {
        background-color: #dda703;
    }

    .card_item.accept:hover::after,
    .card_item.accept .icon {
        background-color: #155724;
    }

    .card_item.reject:hover::after,
    .card_item.reject .icon {
        background-color: #721c24;
    }

    .card_item h3 {
        font-size: 18px;
        font-weight: bold;
        position: relative;
        z-index: 9;
        color: #010101;
        transition: all 0.5s ease-in-out;
    }

    .card_item p {
        font-size: 30px;
        font-weight: bold;
        position: relative;
        z-index: 9;
        color: #010101;
        transition: all 0.5s ease-in-out;
    }

    .card_item:hover h3,
    .card_item:hover p {
        color: #fff;
        transition: all 0.5s ease-in-out;
    }

    .card_item.new {
        background-color: #cce5ff;
    }

    .card_item.processing {
        background-color: #fff3cd;
    }

    .card_item.accept {
        background-color: #d4edda;
    }

    .card_item.reject {
        background-color: #f8d7da;
    }

.statistics h3 {
    margin-bottom: 0;
}

.statistics .icon {
    width: 40px;
    height: 40px;
    background-color: #004085;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 10px #eee;
}

    .statistics ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .statistics h3 {
        font-size: 20px;
        font-weight: 500;
        padding-right: 5px
    }

    .statistics .number {
        font-weight: bold;
    }

    .statistics ul {
        display: flex;
        flex-direction: column;
        gap: 15px
    }

        .statistics ul li:not(:last-of-type) {
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
        }

.apexcharts-legend-marker {
    margin-inline-end: 8px;
}

.apexcharts-legend-series {
    width: 120px;
}

.apexcharts-legend-text {
    font-family: 'Almarai', sans-serif !important;
}

.apexcharts-legend {
    top: 80px !important;
    right: 40px !important;
}