html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Hacen Tunisia", Arial, Tahoma;
}

.top-div {
    margin-top: 20px;
}

.top-div-title {
    font-size: 20px;
    padding-bottom: 10px
}

.top-div-inside {
    border-bottom: 3px solid #222d32;
    font-family: 'Hacen Tunisia', sans-serif;
    background: #f5f5f5;
    padding: 10px;
    color: #9eab41;
    box-shadow: 6px 1px 7px #efe8e8;
    margin-bottom: 25px;
}

.validatelabel {
    display: none;
    color: RED;
    font-size: 14px;
    position: relative;
    bottom: -10px;
}

.info-div {
    margin-top: 30px
}

.form-control-label {
    position: absolute;
    top: 40%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    pointer-events: none;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}

.form-textbox {
    display: inline-block;
    font-family: "Hacen Tunisia", Arial, Tahoma;
    padding: 8px 0;
    margin: 10px 0 0 0;
    font-size: 15px;
    background: none;
    border: 0;
    border-bottom: 1px solid #cadb4f;
    color: #333;
    box-shadow: none;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    width: 100%;
}

    .form-textbox:focus + label,
    .form-textbox.has-value + label,
    textarea:focus + label,
    textarea.has-value + label {
        top: 0px;
        font-size: 15px;
        color: #8e9b2f;
    }

textarea:focus + label,
textarea.has-value + label {
    top: 30px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.button-insert-model {
    width: 100%;
    background-color: #cadb4f;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: white !important;
    font-size: 15px !important;
    border: 1px solid #cadb4f
}

    .button-insert-model:hover {
        background-color: #b1bf47;
    }