@model User

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml"; ;
}

<link rel="stylesheet" href="~/css/login.css" />

<header>
    <div class="container-fluid uper-bar">
        <div class="row">
            <div class="nav-bar date-div col-12">
                <span id="today" class="datespan"></span>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        @*<div class="col-lg-6 col-md-2">
            
        </div>*@
        <div class="col-lg-8 col-md-12 login-box">
            <div class="col-lg-12 login-key">
                @*<a asp-action="Index" asp-controller="Login">
                    <img src="~/images/logo.png" alt="وزارة الشؤون الاسلامية والدعوة والإرشاد" />
                </a>*@
            </div>
            <div class="col-lg-12 login-title">
                <label class="sys-lbl">شاشة الدخول</label> - نظام المبادرات
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form method="post" id="form_data">
                        <div class="form-group">
                            <label class="form-control-label">اسم المستخدم</label>
                            <input class="input-username" type="text" asp-for="UserName" id="UserName" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">كلمة المرور</label>
                            <input class="input-password" type="password" asp-for="UserPassword" id="UserPassword" autocomplete="off" />
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-12 login-btm login-text">
                                <!-- Error Message -->
                            </div>
                            <div class="col-lg-12 login-btm login-button">
                                <button id="login_btn" type="submit" class="btn btn-outline-primary">دخول</button>
                                <button type="submit" asp-controller="Register" asp-action="Index" class="btn btn-register">تسجيل جديد</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
        <div class="col-4 side-div">
            <div class="side-img">
                <img src="~/images/Ministry_Logo.png" />
            </div>
        </div>
    </div>
</div>


<script src="~/js/login.js" asp-append-version="true"></script>
