<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - برنامج المبادرات</title>
    <link href="~/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/_loginlayout.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Alexandria" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>

    <div class="maincontent">
        @RenderBody()
    </div>

    <footer>
        <label>برمجة وتصميم الإدارة العامة لتقنية المعلومات - &copy; @DateTime.Now.Year</label>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
