@model Mobadra
@{
	ViewData["Title"] = "AddOrEdit";
	Layout = null;
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form asp-action="_Edit" asp-controller="Mobadra" asp-route-id="@Model.MobadraID" onsubmit="return jQueryAjaxEditPost(this);" autocomplete="off">
				<input type="hidden" asp-for="MobadraID" />
				<input type="hidden" asp-for="UserId" />
				<input type="hidden" asp-for="BranchID" />
				<input type="hidden" asp-for="DepartmentId" />

				<div class="col-12 form-group insertform id-tex-div text-right">
					<input id="MobadraTitle" asp-for="MobadraTitle" class="form-textbox text-right">
					<label asp-for="MobadraTitle" name="MobadraTitle" class="form-control-label"></label>
					<label class="MobadraTitleValidation validatelabel"></</label>
				</div>
				<div class="col-12 form-group insertform id-tex-div text-right">
					<textarea id="MobadraDesc" asp-for="MobadraDesc" class="form-textbox text-right"></textarea>
					<label asp-for="MobadraDesc" name="MobadraDesc" class="form-control-label"></label>
					<label class="MobadraDescValidation validatelabel">خطأ</label>
				</div>
				<div class="col-12 form-group insertform id-tex-div text-right">
					<input id="MobadraTarget" asp-for="MobadraTarget" class="form-textbox text-right">
					<label asp-for="MobadraTarget" name="MobadraTarget" class="form-control-label"></label>
					<label class="MobadraTargetValidation validatelabel">خطأ</label>
				</div>
				<div class="col-12 form-group insertform id-tex-div text-right">
					<input id="MobadraImplement" asp-for="MobadraImplement" class="form-textbox text-right">
					<label asp-for="MobadraImplement" name="MobadraImplement" class="form-control-label"></label>
					<label class="MobadraImplementValidation validatelabel">خطأ</label>
				</div>
				<div class="form-group col-lg-12">
					<label asp-for="Geha_TragetID" class="control-label"></label>
					<select id="Geha_TragetList" class="GehaTragetList" asp-for="Geha_TragetID" id="Geha_TragetList" placeholder="Select Geha" asp-items="ViewBag.Geha_TragetID" class="DDL">
						<option class="optionGroup" value="0" selected disabled>اختر الجهة</option>
					</select>
					<span id="CategoryIdValidate" class="span-validation"></span>
				</div>
				<div class="form-group col-lg-12">
					<label asp-for="VolunteerID" class="control-label"></label>
					<select id="VolunteerIDtList" class="VolunteerIDList" asp-for="VolunteerID" id="Geha_TragetList" placeholder="Select Geha" asp-items="ViewBag.VolunteerID" class="DDL">
						<option class="optionGroup" value="0" selected disabled>اختر المتطوعين</option>
					</select>
					<span id="CategoryIdValidate" class="span-validation"></span>
				</div>
				<div class="form-group col-lg-12">
					<label asp-for="DurationTimeID" class="control-label"></label>
					<select id="DurationTimeIDtList" class="DurationTimeIDList" asp-for="DurationTimeID" id="Geha_TragetList" placeholder="Select Geha" asp-items="ViewBag.DurationTimeID" class="DDL">
						<option class="optionGroup" value="0" selected disabled>اختر المدة</option>
					</select>
					<span id="CategoryIdValidate" class="span-validation"></span>
				</div>
				<div class="form-group submit-div text-center">
					<input id="SubmitFormEdit" type="submit" value="حفظ" class="button-insert-model" />
				</div>
			</form>
		</div>
	</div>
</div>

@section scripts{
	<script src="~/js/Mobadra.js"></script>
	<script>
		
		
	</script>
}